<!DOCTYPE html>
<html lang="en"></html>

<head>
<title><%= title %></title>

</head>

<body>
    <h1>hello</h1>
    <p><%= data; %></p>
    <!-- <embed src="/<%= data; %>"  width="800px" height="2100px" /> -->
    
    <!-- <img style="height: 150px; width: 100%;" src="/<%= data; %>" class="img img-thumbnail" /> -->

</body>

</html>
